{template "content","header"}
<div  class="am-cf"></div>
<div class="am-slider am-slider-default" data-am-flexslider="{playAfterPaused: 8000}">
    <ul class="am-slides">
        <li><img src="{IMG_PATH}index_banner.jpg" /></li>
        <li><img src="{IMG_PATH}index_banner.jpg" /></li>
        <li><img src="{IMG_PATH}index_banner.jpg" /></li>
    </ul>
</div>
<div class="copyrights">Collect from <a href="http://www.cssmoban.com/" >网页模板</a></div>
<div class="index-nav">
    <div class="cms-g">
        <div class="am-u-sm-6 am-u-md-6 am-u-lg-3">
            <div class="index-nav-item">
                <div class="index-nav-img">
                    <img src="{IMG_PATH}index_nav01.png" />
                </div>
                <div class="index-nav-info">
                    <h1>芯片封装</h1>
                    <h2>优越品质 绿色环保</h2>
                    <em class="font"><a href="#">详细介绍&#xe72f;</a></em>
                </div>
            </div>
        </div>
        <div class="am-u-sm-6 am-u-md-6 am-u-lg-3">
            <div class="index-nav-item">
                <div class="index-nav-img">
                    <img src="{IMG_PATH}index_nav02.png" />
                </div>
                <div class="index-nav-info">
                    <h1>LED电源</h1>
                    <h2>专业技术 高效耐用</h2>
                    <em class="font"><a href="#">详细介绍&#xe72f;</a></em>
                </div>
            </div>
        </div>
        <div class="am-u-sm-6 am-u-md-6 am-u-lg-3">
            <div class="index-nav-item">
                <div class="index-nav-img">
                    <img src="{IMG_PATH}index_nav03.png" />
                </div>
                <div class="index-nav-info">
                    <h1>LED灯具</h1>
                    <h2>领先科技 节能高效</h2>
                    <em class="font"><a href="#">详细介绍&#xe72f;</a></em>
                </div>
            </div>
        </div>
        <div class="am-u-sm-6 am-u-md-6 am-u-lg-3">
            <div class="index-nav-item">
                <div class="index-nav-img">
                    <img src="{IMG_PATH}index_nav04.png" />
                </div>
                <div class="index-nav-info">
                    <h1>通讯模块</h1>
                    <h2>超强信号 优质体验</h2>
                    <em class="font"><a href="#">详细介绍&#xe72f;</a></em>
                </div>
            </div>
        </div>
    </div>
</div>

<!--现获取子目录id&ndash;&gt;根据子目录的id获取子目录下的列表-->
<div class="index-content">
    <div class="cms-g">

        {loop subcat(0,0,0,$siteid) $r}
        {if $r[catid]==23}
        <!--产品中心-->
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-4">
            <div class="index-content-left">
                <h1>{$r[catname]}</h1>
                <div class="am-slider am-slider-default" data-am-flexslider id="demo-slider-0">
                    <!--得到图片文章的内容-->
                    {pc:content action="lists" catid="$r[catid]" num="1" order="id DESC" return="info"}

                    <!--得到图片文章的id-->
                    {php $pic = reset($info); $pic_id = $pic[id]; $pic_des = $pic[description];$pic_url = $pic[url];}
                    <!--得到产品中心一条图片文章数据,根据id获取图片文章内的图片数组-->
                    {pc:get sql="SELECT pictureurls FROM v9_picture_data WHERE id=$pic_id" cache="3600" return="data"}
                    <!--处理json字符串数据,将字符串数据转换成数组-->
                    {php $json_str = $data[0][pictureurls];$json_arr = json_decode($json_str,true);}
                    <!--遍历图片数组-->
                    <ul class="am-slides">
                        {loop $json_arr $img}
                        <li><img src="{$img[url]}" /></li>
                        {/loop}
                    </ul>
                    {/pc}
                </div>
                <strong><a href="{$pic_url}">{$pic_des}</a></strong>
                <em><a href="{$pic_url}">详情介绍<i class="font">&#xe78d;</i></a></em>

                {/pc}
            </div>
        </div>
        {elseif $r[catid]==17}
        <!--新闻动态-->
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-4">
            <div class="index-content-center">
                <h1>{$r[catname]}<a href="{$r[url]}">MORE<i class="font">&#xe78d;</i></a></h1>
                <ul>
                    <!--通过栏目id,查找本栏目下的列表数据-->
                    {pc:content action="lists" catid="$r[catid]" num="5" order="id DESC" return="info"}
                    <!--循环列表数据,显示在页面上-->
                    {loop $info $new}
                    <li><a href="{$new[url]}"><span>{$new[title]}</span><em>{date('Y-m-d H:i:s',$new[inputtime])}</em></a></li>
                    {/loop}
                    {/pc}

                </ul>
            </div>
        </div>
        {else}
        <!--产品应用-->
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-4">
            <div class="index-content-right">
                <h1>{$r[catname]}<a href="{$r[url]}">MORE<i class="font">&#xe78d;</i></a></h1>
                {pc:content  action="lists" catid="$r[catid]" order="updatetime DESC" thumb="1" num="1" return="info"}
                <img src="{php echo reset($info)[thumb];}"/>
                {/pc}

                <ul>
                    {pc:content action="lists" catid="$r[catid]" num="5" order="id DESC" return="info"}
                    {loop $info $new}
                    <li><a href="{$new[url]}">{$new[title]}</a></li>
                    {/loop}
                    {/pc}

                </ul>
            </div>
        </div>
        {/if}
        {/loop}

    </div>
</div>


{template "content","footer"}