/*
* @Author: superking
* @Date:   2017-07-19 14:23:17
* @Last Modified by:   superking
* @Last Modified time: 2017-07-19 14:38:50
*/
body{
    margin: 0px;
    padding: 0px;
    /* 设置背景 */
     background-image: url('10.jpeg');
     background-size: cover;
     text-align:center;
}

div{

    /* 登录框居中 */
    margin:100px auto;
    /* 宽高 */
    width: 300px;
    height: 240px;
    background-color: cyan;
    /* 透明 */
    opacity: 0.8;
}
table{

    margin:0 auto;
    position: relative;
    top: 50px;
}

p{
    margin:0 auto;
    position:relative;
    top:50px;
}
button{
    margin:0 auto;
    position:relative;
    top:50px;
}