body{
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-size: 13px;
    /*大背景*/
    background-image: url('abc.jpg');
}

/*整体容器的样式布局*/
.container{
    width: 778px;
    /*居中布局 上下0 左右自动*/
    margin:0 auto;
    text-align: left;
}

/*头部信息的布局*/
.header{
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left: 50px;
}

/*导航*/
.navBar{
    margin: 0px;
    padding: 0px;
    height: 50px;
}
.navBar li{
    list-style-type: none;
    float: left;
    width: 155.6px;
    background-color: black;
    text-align: center;
    padding: 5px;
}
.navBar li a{
    color:wheat;
    text-decoration:none;
    font-size: 15px;
}
.navBar li a:hover{
    color:lightcoral;
}
/*侧边栏*/
.sidebarLeft{
    float: left;
    width: 200px;
}
.sidebarRight{
    float: right;
    width: 200px;
}
/*小面版*/
.frame{
    opacity: 0.8;
    width: 100%;
    margin-bottom: 5px;
    background-color:lightblue;
    /*设置边框*/
    border: solid 1px gray;
}
.title{
    margin: 1px;
    margin-bottom: 5px;
    padding: 4px;
    /*加粗*/
    font-weight: bold;
    background-color: darkseagreen;
}

/*对列表内容进行修饰*/
.list{
    list-style-type: none;
    padding: 5px;
    margin: 0px;
}
.list li{
    padding: 3px;
    /*添加下边框，也就是线*/
    border-bottom: dotted 1px dodgerblue;
}

/*中间内容*/
.mainContent{
    width: 370px;
    margin: 0 auto;
}

/*底部*/
.footer{
    /*清空浮动元素*/

    clear: both;
    position: relative;
    bottom: 0px;
    padding: 10px 0;
    text-align: center;
    color: #eee;
}