<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表</title>
</head>
<body>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>标题</th>
            <th>内容</th>
            <th>操作</th>
        </tr>
        {foreach $data as $item}
            <tr>
                <td>{$item.id}</td>
                <td>{$item.title}</td>
                <td>{$item.content}</td>
                <td>
                    <a href="{:url('blog/index/show',['id'=>$item.id])}">查看</a>
                    <a href="{:url('blog/index/del',['id'=>$item.id])}">删除</a>
                </td>
            </tr>
        {/foreach}
    </table>
</body>
</html>